* {
  color: white;
}

body {
  font-family: 'Lato';
}

.footer-wrapper {
  width: 100%;
  position: fixed;
  z-index: 30;
  bottom: 0;
  height: 50px;
  background-color: rgba(42, 42, 42, 0.8);
}

.footer {
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

.header-wrapper {
  height: 95px;
  width: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  /*background-color: #2a2a2a;
  opacity: 0.8;*/
  background-color: rgba(42, 42, 42, 0.8);
}

.header {
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
  height: 65px;
}

.logo {
  float: left;
  vertical-align: middle;
  margin-left: 25px;
}

.header ul {
  float: right;
  right: 0;
}

.navigation {
  list-style: none;
}

.navigation > li {
  float: left;
}

.navigation > li > a {
  padding: 22px .7em;
  color: #fff;
  font-weight: 400;
  font-size: 1.1em;
}

.navigation > li > a:hover, .navigation > li > a.active {
  text-decoration: none;
  color: #00aeef;
}

.fade {
    position: absolute;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.social-icon-outline {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  line-height: 28px;
  transition: all 0.3s;
}

.social-icon-outline:hover {
  background-color: #fff;
}

.social-icon-outline:hover .icon {
    color: #00aeef;
}

.icon {
  color: #fff;
  transition: all 0.3s;
}
