<div>
<div ng-repeat="post in posts" style="padding: 5px">
    <div class="blog-post" style="margin-bottom: 10px;">
        <div class="blog-post-header" style="margin-bottom: 10px;">
            <h3 style="margin-bottom: 5px"><strong>{{ post.title }}</strong></h3>
            <div class="blog-post-header-details" style="font-size: 11px">
                {{ post.pub_date | date:'yyyy-MM-dd HH:mm' }} in
                <span ng-repeat="tag in post.tags" class="label label-success" style="font-size: 100%; font-weight: 400; margin-left: 5px;">{{ tag }} </span>
            </div>
        </div>
        <div class="blog-post-teaser">
            <div>
            {{ post.content }}
            </div>
            <div class="pull-right">
                Read more...
            </div>
        </div>
    </div>
</div>
</div>
