<div class="text-center">
  <h1>Get in touch!</h1>
  <div style="padding-top: 15px;">
    <h4>Quickest way would be to mail me:</h4>
    <span class="contact-icon"><a href="mailto: mmarczakm@gmail.com"><i class="fa fa-4x fa-envelope"></i></a></span>
  </div>
  <div style="padding-top: 15px;">
    <h4 style="margin-bottom: 20px;">You can also find me on web:</h4>
    <span class="contact-icon"><a href="http://www.facebook.com/malymarcin"><i class="fa fa-4x fa-facebook"></i></a></span>
    <span class="contact-icon"><a href="http://github.com/cinku"><i class="fa fa-4x fa-github"></i></a></span>
    <span class="contact-icon"><a href="http://www.linkedin.com/in/marcin-marczak-ab216991"><i class="fa fa-4x fa-linkedin"></i></a></span>
  </div>
</div>
