<!DOCTYPE html>
<html lang="en" ng-app="homepageApp">

<head>
    <title>cinku's homepage</title>
    {% assets "_styles" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "_scripts" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body style="background-color: #3c3c3c">
  <div class="header-wrapper">
    <div class="header" style="margin-top: 15px;">
      <img src="{{ url_for('static', filename='images/logotext.png' )}}" />
      <ul class="navigation pull-right">
        <li role="presentation" class="active">
          <a href="/#/">Home</a>
        </li>
        <li role="presentation" class="active">
          <a href="/#/blog">Blog</a>
        </li>
        <li role="presentation" class="active">
          <a href="/#/about">About</a>
        </li>
        <li role="presentation" class="active">
          <a href="/#/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="container" style="background-color: #fff">
    <div class="header">
      <nav>
        <img style="width: 100px;" src="{{ url_for('static', filename='images/logo.png') }}" />
        <ul class="nav nav-pills pull-right" style="margin-top: 30px">
          <li role="presentation" class="active">
            <a href="/#/">Home</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/blog">Blog</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/about">About</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div> -->
  <div class="container panel-body" style="overflow: none; margin-top: 100px; min-height: 500px;">
    <div ng-view>

    </div>
  </div>
  <div class="footer-wrapper">
    <footer class="footer container">
      <span>&copy; cinku 2016</span>
      <div class="social-icons pull-right">
        <img src="{{ url_for('static', filename='images/facebook.png' )}}" />
        <img src="{{ url_for('static', filename='images/googleplus.png' )}}" />
        <img src="{{ url_for('static', filename='images/github.png' )}}" />
        <img src="{{ url_for('static', filename='images/linkedin.png' )}}" />
        <img src="{{ url_for('static', filename='images/rss.png' )}}" />
      </div>
    </footer>
  </div>
</body>
</html>
