<!DOCTYPE html>
<html lang="en" ng-app="homepageApp">

<head>
    <title>cinku's homepage</title>
    {% assets "_styles" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    {% assets "_scripts" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body style="background-color: #3c3c3c">
  <div class="header-wrapper">
    <div class="header" style="margin-top: 15px;">
      <!-- <div class="row">
        <div class="col-xs-4">
                  <img src="{{ url_for('static', filename='images/logotext.png' )}}" />
        </div>
        <div class="col-xs-2">
<a href="/#/">HOME</a>
        </div>
        <div class="col-xs-2">
<a href="/#/blog">BLOG</a>
        </div>
        <div class="col-xs-2">
<a href="/#/about">ABOUT</a>
        </div>
        <div class="col-xs-2">
<a href="/#/contact">CONTACT</a>
        </div>
      </div> -->
      <img src="{{ url_for('static', filename='images/logotext.png' )}}" />
      <ul class="navigation pull-right" style="margin-top: 15px;">
        <li class="active">
          <a href="/#/">HOME</a>
        </li>
        <li class="active">
          <a href="/#/blog">BLOG</a>
        </li>
        <li class="active">
          <a href="/#/about">ABOUT</a>
        </li>
        <li class="active">
          <a href="/#/contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="container" style="background-color: #fff">
    <div class="header">
      <nav>
        <img style="width: 100px;" src="{{ url_for('static', filename='images/logo.png') }}" />
        <ul class="nav nav-pills pull-right" style="margin-top: 30px">
          <li role="presentation" class="active">
            <a href="/#/">Home</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/blog">Blog</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/about">About</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div> -->
  <div class="container panel-body" style="overflow: none; margin-top: 100px;">
    <div class="content-wrapper">
      <div ng-view class="fade">

      </div>
    </div>
  </div>
  <footer class="footer-wrapper">
    <div class="footer container">
      <span style="vertical-align: -webkit-baseline-middle;">
        Made with <span><i class="fa fa-heart" style="color: #ee0189"></i></span> by cinku!
      </span>
      <div class="pull-right">
        <div class="social-icon-outline">
          <i class="fa fa-facebook icon"></i>
        </div>
        <div class="social-icon-outline">
          <i class="fa fa-google-plus icon"></i>
        </div>
        <div class="social-icon-outline">
          <i class="fa fa-github icon"></i>
        </div>
        <div class="social-icon-outline">
          <i class="fa fa-linkedin icon"></i>
        </div>
    </div>
  </div>
</footer>
</body>
</html>
