<!DOCTYPE html>
<html lang="en" ng-app="homepageApp">

<head>
    <title>cinku's homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}" />
    <script src="{{ url_for('static', filename='scripts/vendor/jquery.min.js' )}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/bootstrap.min.js' )}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/angular.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/vendor/angular-route.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='scripts/app/app.js') }}" type="text/javascript"></script>
</head>

<body style="background: url({{ url_for('static', filename='images/bg.png' )}}); background-repeat: repeat;">
  <div class="header-wrapper">
    <div class="header" style="margin-top: 15px;">
      <ul class="navigation pull-right">
        <li role="presentation" class="active">
          <a href="/#/">Home</a>
        </li>
        <li role="presentation" class="active">
          <a href="/#/blog">Blog</a>
        </li>
        <li role="presentation" class="active">
          <a href="/#/about">About</a>
        </li>
        <li role="presentation" class="active">
          <a href="/#/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="container" style="background-color: #fff">
    <div class="header">
      <nav>
        <img style="width: 100px;" src="{{ url_for('static', filename='images/logo.png') }}" />
        <ul class="nav nav-pills pull-right" style="margin-top: 30px">
          <li role="presentation" class="active">
            <a href="/#/">Home</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/blog">Blog</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/about">About</a>
          </li>
          <li role="presentation" class="active">
            <a href="/#/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div> -->
  <div class="container panel-body" style="overflow: none; margin-top: 100px; background-color: #f1f1f1; min-height: 500px;">
    <div ng-view>

    </div>
    <footer class="footer container">
      <hr>
      <p>&copy; cinku 2016</p>
    </footer>
  </div>
</body>
</html>
