<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Bucket List App</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">cinku homepage</h3>
        </div>

{% block body %} {% endblock %}

        <footer class="footer" style="position: absolute; bottom: 0">
            <p>&copy; cinku 2016</p>
        </footer>

    </div>
</body>

</html>
